.gallery-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    user-select: none;

}

.image-container {
    width: 500px;
    height: fit-content;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
    transition: transform 0.3s ease, margin 0.3s ease;
    z-index: 0;
}

.image-container:hover {
    transform: scale(1.1);
    z-index: 1;
    margin-top: 50px; 
    margin-bottom: 50px;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container.selected::before {
    opacity: 1; 
}

.image {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.3s ease;
}

.image-container.selected .image {
    opacity: 0.6;
}

.trash-bin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    font-size: 30px;
}


.gallery-container .image-container.renaming {
    position: relative;
  }
  
  .rename-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .rename-input {
    margin-bottom: 10px;
  }

  .rename-button {
    min-width: 100px;
    min-height: 35px;

    padding: 4px 0px 4px 2px;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 12px; 
    font-weight: 700;
    height: 24px;
    background-color: rgb(5, 19, 85);
    color: white;
    transition: background-color 0.3s ease-in-out;
    border: none; 
    outline: none;
}
  
  .rename-button:hover {
    background-color: rgb(17, 29, 89);
    box-shadow: 0 2px 4px rgba(78, 78, 78, 0.15); 
  }