.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-container {
    width: 200px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;

    border-radius: 10px;
}

.image-container:hover {
    transform: scale(1.3); /* Enlarge the image on hover */
}

.image-container.selected::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255); /* Tint the image blue */
    transition: background-color 0.3s ease; /* Smooth transition for the tint */
}


.image {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.3s ease;
}

.image-container.selected .image {
    opacity: 0.6;
}

.trash-bin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    font-size: 30px;
}
